<form class="form" name="registration_email">
    <div class="form__back">&#10094;</div>
    <div class="form__name"><b>{{type}}</b></div>
    <div class="form__input">
        <input type="email" placeholder="электронная почта" name="email" required>
        <div class="form__error">

        </div>
    </div>
    <button type="submit" class="form__button" name="submit"><b>Дальше</b></button>
</form>
<a href="#" class="under_link" id="i_need_job">Я ищу работу</a>
<a href="#" class="under_link" id="i_need_users">Я ищу работников</a>