<form class="form" name="registration_email">
    <div class="form__back">&#10094;</div>
    <div class="form__name">{{type}}</div>
    <div class="form__input">
        <input type="email" placeholder="Электронная почта" name="email" value="{{email}}" required>
        <div class="form__error" hidden>

        </div>
    </div>
    <button type="submit" class="form__button" name="submit">Дальше</button>
</form>
<div class="under_link" id="i_need_job">Я ищу работу</div>
<div class="under_link" id="i_need_users">Я ищу сотрудников</div>