<form class="form" name="registration_company">
    <div class="form__back">&#10094;</div>
        <div class="form__name">О компании</div>
        <div class="form__input">
            <input type="text" placeholder="название компании" name="company_name" minlength="2" required>
            <input type="text" placeholder="юридический адрес" name="company_address" minlength="10" required>
        </div>
        <div class="form__error">

        </div>
    <button type="submit" class="form__button" name="submit">Зарегистрироваться</button>
</form>