<form class="form" name="registration_password">
    <div class="form__back">&#10094;</div>
    <div id="form registration people pass">
        <div class="form__name">Введите пароль</div>
        <div class="form__description">
            Для профиля с почтой
            <div class="form__email">{{mail}}</div>
        </div>
        <div class="form__input">
            <input type="password" placeholder="пароль" name="password" minlength="10" required>
            <input type="password" placeholder="повторите пароль" name="repeat_password" minlength="10" required>
            <div class="form__error">
                
            </div>
        </div>
        <label class="form__checkbox">
            <input type="checkbox" name="show_password">
            <span>Показать пароль</span>
        </label>
    </div>
    <button type="submit" class="form__button" name="submit">Дальше</button>
</form>