.hidden {
    display: none;
}

.active {
    display: block;
}

.form__input-wrapper {
    position: relative;
}

.form__input-password {
    padding: 15px 40px 15px 10px !important;
    width: 100%;
    box-sizing: border-box;
}

.form__toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}
