<div id="job_catalog_page">
    <div class="info">
        <div class="info__welcome"><b>Твоя карьера - наш приоритет</b></div>

        <form class="info__search">
            <div class="info__search__container">
                <svg class="info__search__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 21L16.65 16.65M19 11C19 15.4183 15.4183 19 11 19C6.58172 19 3 15.4183 3 11C3 6.58172 6.58172 3 11 3C15.4183 3 19 6.58172 19 11Z" stroke="#AAAAB3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <input type="text" placeholder="Профессия, должность или компания">
                <button type="submit" class="info__search__button">Найти</button>
            </div>
        </form>

        <div class="info__footer">
            Нет резюме? Используй наш <a class="info__link">конструктор</a>
        </div>
    </div>
    <div class="job_category">
        <div class="job_category__name">Специализация</div>
        <div class="job_category__slider">
            <button class="job_category__nav job_category__nav--prev">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 18L9 12L15 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="job_category__badge">Юристы, адвокаты</div>
            <div class="job_category__badge">Наука, образование</div>
            <div class="job_category__badge">Туризм, гостиницы</div>
            <div class="job_category__badge">IT-специальности</div>
            <button class="job_category__nav job_category__nav--next">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="page">
        <form class="filter" aria-label="Фильтры вакансий">
            <fieldset class="filter__group">
                <legend class="filter__name">Режим работы</legend>
                <div class="filter__options">
                    <label class="filter__checkbox">
                        <input type="checkbox" name="work_mode" value="full_time">
                        <span>Полный день</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="work_mode" value="hybrid">
                        <span>Смешанный формат</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="work_mode" value="remote">
                        <span>Удаленная работа</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="work_mode" value="flexible">
                        <span>Гибкий график</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="work_mode" value="shift">
                        <span>Сменный график</span>
                    </label>
                </div>
            </fieldset>

            <fieldset class="filter__group">
                <legend class="filter__name">Зарплата</legend>
                <input type="number"
                       id="salary_from"
                       name="salary_from"
                       min="0"
                       step="1000"
                       placeholder="Зарплата от, руб"
                       class="filter__input">
            </fieldset>

            <fieldset class="filter__group">
                <legend class="filter__name">Опыт работы</legend>
                <div class="filter__options">
                    <label class="filter__checkbox">
                        <input type="checkbox" name="experience" value="no_matter">
                        <span>Не имеет значения</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="experience" value="no_experience">
                        <span>Нет опыта</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="experience" value="1_to_3_years">
                        <span>От 1 года до 3 лет</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="experience" value="4_to_6_years">
                        <span>От 4 до 6 лет</span>
                    </label>
                    <label class="filter__checkbox">
                        <input type="checkbox" name="experience" value="more_than_6_years">
                        <span>Более 6 лет</span>
                    </label>
                </div>
            </fieldset>

            <fieldset class="filter__group">
                <legend class="filter__name">Сортировка</legend>
                <div class="filter__options">
                    <label class="filter__radio">
                        <input type="radio" name="sort" value="date" checked>
                        <span>По дате изменения</span>
                    </label>
                    <label class="filter__radio">
                        <input type="radio" name="sort" value="salary_desc">
                        <span>По убыванию зарплаты</span>
                    </label>
                    <label class="filter__radio">
                        <input type="radio" name="sort" value="relevance">
                        <span>По соответствию</span>
                    </label>
                </div>
            </fieldset>
        </form>
        <div class="jobs_list">

        </div>
    </div>
</div>