<form class="form" name="login">
    <div class="form__back">&#10094;</div>
        <div class="form__name">Введите пароль</div>
        <div class="form__description">
            От профиля с почтой
            <div class="form__email">{{email}}</div>
        </div>
        <div class="form__input">
            <input type="password" placeholder="пароль" name="password" required>
        </div>
        <div class="form__error">

        </div>
        <label class="form__checkbox">
            <input type="checkbox" name="show_password">
            <span>Показать пароль</span>
        </label>
    <button type="submit" class="form__button" name="submit">Войти</button>
</form>